body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #565c5c; 
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.menu {
    background-color: #333;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping of items in smaller screens */
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping of items in smaller screens */
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #fb922b;
}

.menu ul li a:hover {
    background-color: #444;
}

.favicon {
    width: 60px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle; 
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; 
    flex-wrap: wrap; /* Allow wrapping of items in smaller screens */
}

.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fb922b;
    color: #fff;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0097a7;
}

header {
    padding: 10px 0;
    text-align: center; /* Center align text for better responsiveness */
}

header h1 {
    font-size: 3em;
}

header p {
    font-size: 1.2em;
}

section {
    padding: 50px 0;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center; /* Center align text for better responsiveness */
}

.project, .game {
    background-color: #444;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: inline-block; 
    width: 100%; /* Make sure it takes full width on smaller screens */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.project h3, .game h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project p, .game p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

a {
    color: #f39c33;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 5px;
}

a:hover {
    background-color: #525367;
}

footer {
    text-align: center; /* Center align text for better responsiveness */
    padding: 20px 0;
}

/* Media Queries for Responsiveness */

@media (max-width: 1200px) {
    .container {
        width: 90%;
    }

    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1.1em;
    }

    h2 {
        font-size: 2em;
    }

    .project h3, .game h3 {
        font-size: 1.3em;
    }

    .project p, .game p {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .menu ul {
        flex-direction: column; /* Stack menu items vertically */
        align-items: flex-start;
    }

    .search-bar {
        margin-left: 0;
        width: 100%;
    }

    .search-bar input[type="text"] {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .search-bar button {
        width: 100%;
    }

    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    h2 {
        font-size: 1.8em;
    }

    .project h3, .game h3 {
        font-size: 1.2em;
    }

    .project p, .game p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
    }

    header h1 {
        font-size: 1.8em;
    }

    header p {
        font-size: 0.9em;
    }

    h2 {
        font-size: 1.5em;
    }

    .project h3, .game h3 {
        font-size: 1em;
    }

    .project p, .game p {
        font-size: 0.8em;
    }
}
